sudo: false
language: rust
rust:
  - stable
  - beta
  - nightly
cache: cargo

script:
  - cargo test --features "ring-resolver vector-tests" --verbose
  - cargo test --features "ring-accelerated vector-tests" --verbose

