[package]
name = "snow"
description = "A pure-rust implementation of the Noise Protocol Framework"
homepage = "https://snow.rs"
documentation = "https://snow.rs/doc/snow"
repository = "https://github.com/mcginty/snow"
version = "0.7.0-alpha1"
authors = ["Jake McGinty <me@jake.su>", "trevp"]
license = "Unlicense"
categories = ["cryptography"]
readme = "README.md"
keywords = ["noise", "protocol", "crypto"]
edition = "2018"

# This is slightly mumbo-jumboey, but in short:
# Features with a -resolver suffix simply enables the existence of a specific resolver,
# and -accelerated suffix means that this resolver will be the default used by the Builder.
[features]
default = ["default-resolver"]
nightly = ["blake2/simd_opt", "x25519-dalek/nightly", "subtle/nightly"]
default-resolver = ["chacha20poly1305", "blake2", "sha2", "x25519-dalek", "rand"]
ring-resolver = ["ring"]
ring-accelerated = ["ring-resolver", "default-resolver"]
vector-tests = []
hfs = []
pqclean_kyber1024 = ["pqcrypto-kyber", "pqcrypto-traits", "hfs", "default-resolver"]

[[bench]]
name = "benches"
harness = false

[badges]
travis-ci = { repository = "mcginty/snow", branch = "master" }

[dependencies]
arrayref = "0.3.5"
rand_core = "0.5"
subtle = "2.1"

# default crypto provider
chacha20poly1305 = { version = "0.3", optional = true }
blake2 = { version = "0.8", optional = true }
rand = { version = "0.7", optional = true }
sha2 = { version = "0.8", optional = true }
x25519-dalek = { version = "0.6", optional = true }
pqcrypto-kyber = { version = "0.6", optional = true }
pqcrypto-traits = { version = "0.3", optional = true }

# ring crypto proivder
ring = { version = "^0.16.2", optional = true, features = ["std"] }

[dev-dependencies]
clap = "2"
criterion = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
hex = "0.4"
lazy_static = "1.3"

[build-dependencies]
rustc_version = "0.2"

[package.metadata.docs.rs]
features = [ "ring-resolver" ]
all-features = false
no-default-features = false

